*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(198 188 188 / 95%);
}

.navbar{
    background-color: white;
    border-radius: 4px;
    position: absolute;
}

.navbar li{
    float: left;
    list-style: none;
    margin: 15px 50px;
}
.navbar li a{
    color: blue;
    text-decoration: none;
    font-size: 20px;
}

.navbar li:hover{
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
}

.contact{
    background-color: #eff1b7;
    border: 3px solid black;
    position: absolute;
    top: 15%;
    left: 22%;
}

.text-center {
    text-align: center;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}

.form {
    max-width: 60%;
    margin: auto;
}

.form-input {
    margin: 15px 0;
    padding: 5px 3px;
    width: 100%;
    font-size: 20px;
    border: 2px solid gray;
    border-radius: 5px;
}

.btn {
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
}

.btn-dark {
    background-color: #ffe888;
    color: black;
    border: 2px solid black;
    text-align: center;
    justify-content: center;

}